:root {
  --paper: #fff;
  --bg: #eefc;
  --selected: #ddec;
  --border: #ccfc;
  --neutral: #88a;
  --text: #447;
  --accent: #22a;
  --important: #f1c40f;
  --warn: #e67e22;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
:focus {
  outline: 2px solid var(--accent);
}
.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.card {
  padding: 1rem;
}
.button {
  font-size: 1.2rem;
}
.button.button-icon {
  padding: 0.2rem 1rem;
}
.button.button-icon i {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}
.button-icon {
  padding: 0.2rem 0.5rem;
  border: none;
  color: var(--neutral);
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  min-height: 39px;
  min-width: 39px;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.1s;
}
.button-icon i {
  font-size: 1.5rem;
}

/* form */
.button-icon:hover {
  background-color: var(--bg);
  color: var(--accent);
}
.input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: var(--text);
  background-color: transparent;
  font-family: inherit;
  border: 1px solid var(--border);
  display: inline-flex;
  border-radius: 18px;
}
.h1-input {
  font-size: 1.6rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0;
  outline: none;
}
.h1-input:focus {
  border-bottom: 2px solid var(--accent);
}
.input:focus {
  background-color: var(--paper) !important;
}
.select-absolute {
  position: absolute;
  display: flex;
  top: -2px;
  left: -2px;
  background-color: var(--paper);
  border: 2px solid var(--border);
  border-radius: 18px;
}

/* nav */
.nav {
  display: flex;
  flex: 1;
}
.nav-item {
  display: flex;
  flex-direction: column;
  height: 5rem;
  font-size: 0.3rem;
  overflow: hidden;
  border: 1px solid var(--border);
  margin: 0.1rem;
  flex: 0 0 5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: var(--bg);
}
.nav-item.active {
  background-color: var(--paper);
}
/* list */
.list {
  /* padding-left: 1.5rem; */
}
.list-item {
  border-bottom: 1px solid var(--border);
  padding: 0.4rem;
  transition: 0.1s;
}
.list-item:hover {
  background-color: var(--bg);
}
.list-item:hover .button-icon {
  background-color: var(--bg);
}
.list-item .button-icon:hover {
  background-color: var(--paper);
  color: var(--accent);
}
.list-item input {
  border: transparent;
}
.list-item.is-checked {
  background: var(--selected);
}
.list-item.is-checked .input {
  background: transparent;
}
.list-item.is-important {
  background-image: radial-gradient(
    circle,
    rgba(241, 196, 15, 0.15) 0%,
    rgba(241, 196, 15, 0.2) 20%,
    rgba(241, 196, 15, 0.15) 50%,
    rgba(241, 196, 15, 0.2) 95%,
    transparent 140%
  );
}
.list-marker {
  text-align: right;
  width: 32px;
  position: relative;
}

.contains-gui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
}
.contains-gui:hover .gui-hidden {
  opacity: 1;
}
.gui-hidden {
  display: flex;
  opacity: 0;
  transition: 0.1s;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.col-3 {
  max-width: calc(1920px / 4);
  flex: 1 0 calc(100% / 4);
}
.col-6 {
  max-width: calc(1920px / 2);
  flex: 2 0 calc(100% / 2);
}
.fs-24 {
  font-size: 24px;
}
.df {
  display: flex;
}
.f-1 {
  flex: 1;
}
.ai-center {
  align-items: center;
}
.set {
  margin-right: -0.4rem;
  margin-bottom: -0.4rem;
}
.set > * {
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

/* colors */
.color-important {
  color: var(--important);
}
.color-warn {
  color: var(--warn);
}
