:root {
  --paper: #fff;
  --bg: #eefc;
  --selected: #ddec;
  --border: #ccfc;
  --neutral: #88a;
  --text: #447;
  --accent: #22a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}
:focus {
  outline: 2px solid var(--accent);
}
.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-icon {
  padding: 0.2rem 0.5rem;
  font-size: 24px;
  border: none;
  color: var(--neutral);
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  min-height: 39px;
  min-width: 39px;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.1s;
}

/* form */
.button-icon:hover {
  background-color: var(--bg);
  color: var(--accent);
}
.input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: var(--text);
  font-family: inherit;
  border: 1px solid var(--border);
  display: inline-flex;
  border-radius: 18px;
}
.input:focus {
  background-color: var(--paper) !important;
}

/* list */
.list {
  /* padding-left: 1.5rem; */
}
.list-item {
  border-bottom: 1px solid var(--border);
  padding: 0.4rem;
  transition: 0.1s;
}
.list-item:hover {
  background-color: var(--bg);
}
.list-item:hover .button-icon {
  background-color: var(--bg);
}
.list-item .button-icon:hover {
  background-color: var(--paper);
  color: var(--accent);
}
.list-item input {
  border: transparent;
}
.list-item.is-checked {
  background-color: var(--selected);
}
.list-item.is-checked .input {
  background-color: transparent;
}
.list-marker {
  text-align: right;
  width: 18px;
}

.contains-gui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 35px;
}
.contains-gui:hover .gui-hidden {
  opacity: 1;
}
.gui-hidden {
  display: flex;
  opacity: 0;
  transition: 0.1s;
}
.ml-1 {
  margin-left: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.col-3 {
  max-width: calc(1920px / 4);
  flex: 1 0 calc(100% / 4);
}
.col-6 {
  max-width: calc(1920px / 2);
  flex: 2 0 calc(100% / 2);
}
.fs-24 {
  font-size: 24px;
}
.df {
  display: flex;
}
.f-1 {
  flex: 1;
}
.ai-center {
  align-items: center;
}
.set {
  margin-right: -0.4rem;
  margin-bottom: -0.4rem;
}
.set > * {
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}
